<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cclib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cclibCurveFlowField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>cclibEmitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cclibFragmentNoiseDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cclibNoiseFieldDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cclibShaderBufferDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cclibTargetsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>cg_shader_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>components_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>glsl_shader_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>shader_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>shaderbuffer_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>vec2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>vec3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02E53202B8014A51A3350156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EA7925B7184A38A36E95F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09023D6D00FE4343B799AF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14564EB0C82C4AA584C0CA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15B15475F53A4DADA2238DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23DCF6B9CAB74C1A9E982D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273D3908E6804790877DA5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B5CB8265B74787898C3A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FEBAA16939415EB5228A09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34AA9B68630D47BD8E3AF4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3648AF2167124B21AE1639E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377CE8FC2A23433F84EE2D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E96055BB64D4EFF8FDB8BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47554BEEAE304134A0BADF14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47916E28ADEB4D98987D12E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496618016B25447F9A8EE7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD54BD2FC834C1F8BF87936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D052A82940540C6986D3850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0B6AD702EB4F068DE411E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B75118D3C1495A964F0957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56363C7F25C6430BB1A4A6A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572E493B17B9467FA8B8C36E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57DAF59824174C43B9977919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5996F7B567E44C3CA3F1EF2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6730EF7B6F5A44838000AAA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E798D6F57846429011D4FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E2144905E24AC3BE498942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CEDDE8ED154671BECEEE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>733E1DC5B9DC4AFAAEF709DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C474C5BDB044C8B4C4EFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768C21133EAA43E682151B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB5B17E3DDD499A9368FC49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D9B6830412540888B2D0B6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80959A9C12B84DB2834874D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82DE99F8CB2C407A9C09F8B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>887E6E8580BA4484A340D96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88FB71566DDF4118A6A5C860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>976BD75C95C44DC29080A544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5A9C21CEF7424BA1B68744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6DA431A25C4D629D3D3F38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB0A1462F0B4F63A5B6B966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A44FDB4BADA4497E8F40BFD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA2463A4C6544441BD6AD16E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA94039888BC4896807CC498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB2FBFDF89E74C58B523D781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6C57EE36E34C77B650D048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41DC20673074EA880AFC628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B91253DCAF7D4AC596324EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D9E991B7714C599783FD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB2B4F0451C84521B7D5ADAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86B7E0E28D84F51BF3284EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA919D32B8CD4B03A968D92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAF8261422DD4025BAD69A5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDE651A6B1774F9EA36A0037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2E705B914448E1A4C8D05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C2E0F5583E4BF6BC7BAE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5674FDBF7264093B213FA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72ADBB957EB4925BC664070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBFEB1D9A6874BDA94EC48D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD2816B4FD54E2D9BDFEDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AC86BAE685435E8CF38C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3F9E28F7BE4020A3BF81B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF01DA072DD74D6FB7AB0D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF2C0A45EF7E46D3912B4EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6293E939110437483C0E3B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F88A3316AA444A7886BF0BA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B99199A17147CC907F81C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9DA114EDFD24072B2C9BD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2096950EF04AC78A2C5F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
